--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgagent; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA pgagent;


ALTER SCHEMA pgagent OWNER TO postgres;

--
-- Name: SCHEMA pgagent; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA pgagent IS 'pgAgent system tables';


--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


--
-- Name: pgagent; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgagent WITH SCHEMA pgagent;


--
-- Name: EXTENSION pgagent; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgagent IS 'A PostgreSQL job scheduler';


--
-- Name: production_statut_gdim_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.production_statut_gdim_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.production_statut_gdim_id_seq OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: production_statut_gdim; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.production_statut_gdim (
    id integer DEFAULT nextval('public.production_statut_gdim_id_seq'::regclass) NOT NULL,
    poste character varying(50) NOT NULL,
    n_ordre character varying(100) NOT NULL,
    statut_of character varying(20) DEFAULT 'pending'::character varying,
    date_validation timestamp without time zone DEFAULT now(),
    duree character varying(50),
    ordre character varying(100),
    cause text DEFAULT '-'::text NOT NULL,
    detaille text DEFAULT '-'::text NOT NULL,
    date_signalement timestamp without time zone
);


ALTER TABLE public.production_statut_gdim OWNER TO postgres;

--
-- Name: statut_matiere_id_seq_gdim; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.statut_matiere_id_seq_gdim
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.statut_matiere_id_seq_gdim OWNER TO postgres;

--
-- Name: statut_matiere_gdim; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.statut_matiere_gdim (
    id integer DEFAULT nextval('public.statut_matiere_id_seq_gdim'::regclass) NOT NULL,
    poste character varying(50) NOT NULL,
    n_ordre character varying(100) NOT NULL,
    besoin_machine date,
    statut character varying(50) DEFAULT 'pending'::character varying,
    date_validation timestamp without time zone,
    ordre character varying(100),
    cause text DEFAULT '-'::text NOT NULL,
    detaille text DEFAULT '-'::text NOT NULL,
    date_signalement timestamp without time zone
);


ALTER TABLE public.statut_matiere_gdim OWNER TO postgres;

--
-- Name: statut_outils_gdim; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.statut_outils_gdim (
    id integer NOT NULL,
    poste character varying(50) NOT NULL,
    ordre character varying(50),
    statut character varying(20) NOT NULL,
    n_ordre character varying(50),
    date_validation timestamp without time zone DEFAULT now(),
    cause text DEFAULT '-'::text NOT NULL,
    detaille text DEFAULT '-'::text NOT NULL,
    date_signalement timestamp without time zone,
    CONSTRAINT statut_outils_gdim_statut_check CHECK (((statut)::text = ANY ((ARRAY['pending'::character varying, 'ready'::character varying, 'missing'::character varying])::text[])))
);


ALTER TABLE public.statut_outils_gdim OWNER TO postgres;

--
-- Name: historique_complet_gdim; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.historique_complet_gdim AS
 SELECT COALESCE(p.id, m.id, o.id) AS id,
    COALESCE(p.poste, m.poste, o.poste) AS poste,
    COALESCE(p.n_ordre, m.n_ordre, o.n_ordre) AS n_ordre,
    p.statut_of,
    p.date_validation,
    p.duree,
    p.ordre,
    p.cause,
    p.detaille,
    p.date_signalement,
    m.statut AS statut_matiere,
    o.statut AS statut_outil
   FROM ((public.statut_matiere_gdim m
     FULL JOIN public.statut_outils_gdim o ON ((((m.poste)::text = (o.poste)::text) AND ((m.n_ordre)::text = (o.n_ordre)::text) AND ((m.ordre)::text = (o.ordre)::text))))
     FULL JOIN public.production_statut_gdim p ON ((((COALESCE(m.poste, o.poste))::text = (p.poste)::text) AND ((COALESCE(m.n_ordre, o.n_ordre))::text = (p.n_ordre)::text) AND ((COALESCE(m.ordre, o.ordre))::text = (p.ordre)::text))));


ALTER VIEW public.historique_complet_gdim OWNER TO postgres;

--
-- Name: production_statut_pdim; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.production_statut_pdim (
    id integer NOT NULL,
    poste character varying(50) NOT NULL,
    n_ordre character varying(100) NOT NULL,
    statut_of character varying(20) DEFAULT 'pending'::character varying,
    date_validation timestamp without time zone DEFAULT now(),
    duree character varying(50),
    ordre character varying(100),
    cause text DEFAULT '-'::text NOT NULL,
    detaille text DEFAULT '-'::text NOT NULL,
    date_signalement timestamp without time zone
);


ALTER TABLE public.production_statut_pdim OWNER TO postgres;

--
-- Name: statut_matiere_pdim; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.statut_matiere_pdim (
    id integer NOT NULL,
    poste character varying(50) NOT NULL,
    n_ordre character varying(100) NOT NULL,
    besoin_machine date,
    statut character varying(50) DEFAULT 'pending'::character varying,
    date_validation timestamp without time zone,
    ordre character varying(100),
    cause text DEFAULT '-'::text NOT NULL,
    detaille text DEFAULT '-'::text NOT NULL,
    date_signalement timestamp without time zone
);


ALTER TABLE public.statut_matiere_pdim OWNER TO postgres;

--
-- Name: statut_outils_pdim; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.statut_outils_pdim (
    id integer NOT NULL,
    poste character varying(50) NOT NULL,
    ordre character varying(50),
    statut character varying(20) NOT NULL,
    n_ordre character varying(50),
    date_validation timestamp without time zone DEFAULT now(),
    cause text DEFAULT '-'::text NOT NULL,
    detaille text DEFAULT '-'::text NOT NULL,
    date_signalement timestamp without time zone,
    CONSTRAINT outils_status_status_check CHECK (((statut)::text = ANY ((ARRAY['pending'::character varying, 'ready'::character varying, 'missing'::character varying])::text[])))
);


ALTER TABLE public.statut_outils_pdim OWNER TO postgres;

--
-- Name: historique_complet_pdim; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.historique_complet_pdim AS
 SELECT COALESCE(p.id, m.id, o.id) AS id,
    COALESCE(p.poste, m.poste, o.poste) AS poste,
    COALESCE(p.n_ordre, m.n_ordre, o.n_ordre) AS n_ordre,
    p.statut_of,
    p.date_validation,
    p.duree,
    p.ordre,
    p.cause,
    p.detaille,
    p.date_signalement,
    m.statut AS statut_matiere,
    o.statut AS statut_outil
   FROM ((public.statut_matiere_pdim m
     FULL JOIN public.statut_outils_pdim o ON ((((m.poste)::text = (o.poste)::text) AND ((m.n_ordre)::text = (o.n_ordre)::text) AND ((m.ordre)::text = (o.ordre)::text))))
     FULL JOIN public.production_statut_pdim p ON ((((COALESCE(m.poste, o.poste))::text = (p.poste)::text) AND ((COALESCE(m.n_ordre, o.n_ordre))::text = (p.n_ordre)::text) AND ((COALESCE(m.ordre, o.ordre))::text = (p.ordre)::text))));


ALTER VIEW public.historique_complet_pdim OWNER TO postgres;

--
-- Name: production_statut_profilee_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.production_statut_profilee_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.production_statut_profilee_id_seq OWNER TO postgres;

--
-- Name: production_statut_profilee; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.production_statut_profilee (
    id integer DEFAULT nextval('public.production_statut_profilee_id_seq'::regclass) NOT NULL,
    poste character varying(50) NOT NULL,
    n_ordre character varying(100) NOT NULL,
    statut_of character varying(20) DEFAULT 'pending'::character varying,
    date_validation timestamp without time zone DEFAULT now(),
    duree character varying(50),
    ordre character varying(100),
    cause text DEFAULT '-'::text NOT NULL,
    detaille text DEFAULT '-'::text NOT NULL,
    date_signalement timestamp without time zone
);


ALTER TABLE public.production_statut_profilee OWNER TO postgres;

--
-- Name: statut_matiere_id_seq_profilee; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.statut_matiere_id_seq_profilee
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.statut_matiere_id_seq_profilee OWNER TO postgres;

--
-- Name: statut_matiere_profilee; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.statut_matiere_profilee (
    id integer DEFAULT nextval('public.statut_matiere_id_seq_profilee'::regclass) NOT NULL,
    poste character varying(50) NOT NULL,
    n_ordre character varying(100) NOT NULL,
    besoin_machine date,
    statut character varying(50) DEFAULT 'pending'::character varying,
    date_validation timestamp without time zone,
    ordre character varying(100),
    cause text DEFAULT '-'::text NOT NULL,
    detaille text DEFAULT '-'::text NOT NULL,
    date_signalement timestamp without time zone
);


ALTER TABLE public.statut_matiere_profilee OWNER TO postgres;

--
-- Name: statut_outils_profilee_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.statut_outils_profilee_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.statut_outils_profilee_id_seq OWNER TO postgres;

--
-- Name: statut_outils_profilee; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.statut_outils_profilee (
    id integer DEFAULT nextval('public.statut_outils_profilee_id_seq'::regclass) NOT NULL,
    poste character varying(50) NOT NULL,
    ordre character varying(50),
    statut character varying(20) NOT NULL,
    n_ordre character varying(50),
    date_validation timestamp without time zone DEFAULT now(),
    cause text DEFAULT '-'::text NOT NULL,
    detaille text DEFAULT '-'::text NOT NULL,
    date_signalement timestamp without time zone,
    CONSTRAINT statut_outils_profilee_statut_check CHECK (((statut)::text = ANY (ARRAY['pending'::text, 'ready'::text, 'missing'::text])))
);


ALTER TABLE public.statut_outils_profilee OWNER TO postgres;

--
-- Name: historique_complet_profilee; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.historique_complet_profilee AS
 SELECT COALESCE(p.id, m.id, o.id) AS id,
    COALESCE(p.poste, m.poste, o.poste) AS poste,
    COALESCE(p.n_ordre, m.n_ordre, o.n_ordre) AS n_ordre,
    p.statut_of,
    p.date_validation,
    p.duree,
    p.ordre,
    p.cause,
    p.detaille,
    p.date_signalement,
    m.statut AS statut_matiere,
    o.statut AS statut_outil
   FROM ((public.statut_matiere_profilee m
     FULL JOIN public.statut_outils_profilee o ON ((((m.poste)::text = (o.poste)::text) AND ((m.n_ordre)::text = (o.n_ordre)::text) AND ((m.ordre)::text = (o.ordre)::text))))
     FULL JOIN public.production_statut_profilee p ON ((((COALESCE(m.poste, o.poste))::text = (p.poste)::text) AND ((COALESCE(m.n_ordre, o.n_ordre))::text = (p.n_ordre)::text) AND ((COALESCE(m.ordre, o.ordre))::text = (p.ordre)::text))));


ALTER VIEW public.historique_complet_profilee OWNER TO postgres;

--
-- Name: notifications_gdim; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications_gdim (
    id integer NOT NULL,
    poste character varying(50) NOT NULL,
    n_ordre character varying(100) NOT NULL,
    tool_name text,
    cause text NOT NULL,
    details text,
    date timestamp without time zone DEFAULT now() NOT NULL,
    type_probleme character varying(20)
);


ALTER TABLE public.notifications_gdim OWNER TO postgres;

--
-- Name: notifications_gdim_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.notifications_gdim_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.notifications_gdim_id_seq OWNER TO postgres;

--
-- Name: notifications_gdim_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.notifications_gdim_id_seq OWNED BY public.notifications_gdim.id;


--
-- Name: notifications_pdim; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications_pdim (
    id integer NOT NULL,
    poste character varying(50) NOT NULL,
    n_ordre character varying(100) NOT NULL,
    tool_name text,
    cause text NOT NULL,
    details text,
    date timestamp without time zone DEFAULT now() NOT NULL,
    type_probleme character varying(20)
);


ALTER TABLE public.notifications_pdim OWNER TO postgres;

--
-- Name: notifications_id_seq_pdim; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.notifications_id_seq_pdim
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.notifications_id_seq_pdim OWNER TO postgres;

--
-- Name: notifications_id_seq_pdim; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.notifications_id_seq_pdim OWNED BY public.notifications_pdim.id;


--
-- Name: notifications_profilee_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.notifications_profilee_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.notifications_profilee_id_seq OWNER TO postgres;

--
-- Name: notifications_profilee; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications_profilee (
    id integer DEFAULT nextval('public.notifications_profilee_id_seq'::regclass) NOT NULL,
    poste character varying(50) NOT NULL,
    n_ordre character varying(100) NOT NULL,
    tool_name text,
    cause text NOT NULL,
    details text,
    date timestamp without time zone DEFAULT now() NOT NULL,
    type_probleme character varying(20)
);


ALTER TABLE public.notifications_profilee OWNER TO postgres;

--
-- Name: outils_status_id_seq_pdim; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.outils_status_id_seq_pdim
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.outils_status_id_seq_pdim OWNER TO postgres;

--
-- Name: outils_status_id_seq_pdim; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.outils_status_id_seq_pdim OWNED BY public.statut_outils_pdim.id;


--
-- Name: planning_gdim; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.planning_gdim (
    id integer NOT NULL,
    poste character varying(50) NOT NULL,
    filename character varying(255) NOT NULL,
    data jsonb NOT NULL,
    importdate timestamp without time zone DEFAULT now(),
    version integer DEFAULT 1
);


ALTER TABLE public.planning_gdim OWNER TO postgres;

--
-- Name: planning_gdim_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.planning_gdim_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.planning_gdim_id_seq OWNER TO postgres;

--
-- Name: planning_gdim_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.planning_gdim_id_seq OWNED BY public.planning_gdim.id;


--
-- Name: planning_pdim; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.planning_pdim (
    id integer NOT NULL,
    poste character varying(50) NOT NULL,
    filename character varying(255) NOT NULL,
    data jsonb NOT NULL,
    importdate timestamp without time zone DEFAULT now(),
    version integer DEFAULT 1
);


ALTER TABLE public.planning_pdim OWNER TO postgres;

--
-- Name: planning_id_seq_pdim; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.planning_id_seq_pdim
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.planning_id_seq_pdim OWNER TO postgres;

--
-- Name: planning_id_seq_pdim; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.planning_id_seq_pdim OWNED BY public.planning_pdim.id;


--
-- Name: planning_profilee_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.planning_profilee_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.planning_profilee_id_seq OWNER TO postgres;

--
-- Name: planning_profilee; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.planning_profilee (
    id integer DEFAULT nextval('public.planning_profilee_id_seq'::regclass) NOT NULL,
    poste character varying(50) NOT NULL,
    filename character varying(255) NOT NULL,
    data jsonb NOT NULL,
    importdate timestamp without time zone DEFAULT now(),
    version integer DEFAULT 1
);


ALTER TABLE public.planning_profilee OWNER TO postgres;

--
-- Name: production_statut_pdim_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.production_statut_pdim_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.production_statut_pdim_id_seq OWNER TO postgres;

--
-- Name: production_statut_pdim_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.production_statut_pdim_id_seq OWNED BY public.production_statut_pdim.id;


--
-- Name: recap_planning_id_seq_gdim; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.recap_planning_id_seq_gdim
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.recap_planning_id_seq_gdim OWNER TO postgres;

--
-- Name: recap_planning_gdim; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.recap_planning_gdim (
    id integer DEFAULT nextval('public.recap_planning_id_seq_gdim'::regclass) NOT NULL,
    week_number character varying(10) NOT NULL,
    production jsonb NOT NULL,
    ruptures jsonb NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.recap_planning_gdim OWNER TO postgres;

--
-- Name: recap_planning_pdim; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.recap_planning_pdim (
    id integer NOT NULL,
    week_number character varying(10) NOT NULL,
    production jsonb NOT NULL,
    ruptures jsonb NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.recap_planning_pdim OWNER TO postgres;

--
-- Name: recap_planning_id_seq_pdim; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.recap_planning_id_seq_pdim
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.recap_planning_id_seq_pdim OWNER TO postgres;

--
-- Name: recap_planning_id_seq_pdim; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.recap_planning_id_seq_pdim OWNED BY public.recap_planning_pdim.id;


--
-- Name: recap_planning_id_seq_profilee; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.recap_planning_id_seq_profilee
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.recap_planning_id_seq_profilee OWNER TO postgres;

--
-- Name: recap_planning_profilee; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.recap_planning_profilee (
    id integer DEFAULT nextval('public.recap_planning_id_seq_profilee'::regclass) NOT NULL,
    week_number character varying(10) NOT NULL,
    production jsonb NOT NULL,
    ruptures jsonb NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.recap_planning_profilee OWNER TO postgres;

--
-- Name: statut_matiere_id_seq_pdim; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.statut_matiere_id_seq_pdim
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.statut_matiere_id_seq_pdim OWNER TO postgres;

--
-- Name: statut_matiere_id_seq_pdim; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.statut_matiere_id_seq_pdim OWNED BY public.statut_matiere_pdim.id;


--
-- Name: statut_outils_gdim_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.statut_outils_gdim_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.statut_outils_gdim_id_seq OWNER TO postgres;

--
-- Name: statut_outils_gdim_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.statut_outils_gdim_id_seq OWNED BY public.statut_outils_gdim.id;


--
-- Name: suivre_of_gdim_id_seq1; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.suivre_of_gdim_id_seq1
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.suivre_of_gdim_id_seq1 OWNER TO postgres;

--
-- Name: suivre_of_gdim; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.suivre_of_gdim (
    id integer DEFAULT nextval('public.suivre_of_gdim_id_seq1'::regclass) NOT NULL,
    poste character varying(50) NOT NULL,
    filename character varying(255) NOT NULL,
    data jsonb NOT NULL,
    version integer DEFAULT 1,
    importdate timestamp without time zone DEFAULT now()
);


ALTER TABLE public.suivre_of_gdim OWNER TO postgres;

--
-- Name: suivre_of_pdim; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.suivre_of_pdim (
    id integer NOT NULL,
    poste character varying(50) NOT NULL,
    filename character varying(255) NOT NULL,
    data jsonb NOT NULL,
    version integer DEFAULT 1,
    importdate timestamp without time zone DEFAULT now()
);


ALTER TABLE public.suivre_of_pdim OWNER TO postgres;

--
-- Name: suivre_of_pdim_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.suivre_of_pdim_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.suivre_of_pdim_id_seq OWNER TO postgres;

--
-- Name: suivre_of_pdim_id_seq1; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.suivre_of_pdim_id_seq1
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.suivre_of_pdim_id_seq1 OWNER TO postgres;

--
-- Name: suivre_of_pdim_id_seq1; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.suivre_of_pdim_id_seq1 OWNED BY public.suivre_of_pdim.id;


--
-- Name: suivre_of_profilee_id_seq1; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.suivre_of_profilee_id_seq1
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.suivre_of_profilee_id_seq1 OWNER TO postgres;

--
-- Name: suivre_of_profilee; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.suivre_of_profilee (
    id integer DEFAULT nextval('public.suivre_of_profilee_id_seq1'::regclass) NOT NULL,
    poste character varying(50) NOT NULL,
    filename character varying(255) NOT NULL,
    data jsonb NOT NULL,
    version integer DEFAULT 1,
    importdate timestamp without time zone DEFAULT now()
);


ALTER TABLE public.suivre_of_profilee OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying(100) NOT NULL,
    password character varying(255) NOT NULL,
    role character varying(50) NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: notifications_gdim id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications_gdim ALTER COLUMN id SET DEFAULT nextval('public.notifications_gdim_id_seq'::regclass);


--
-- Name: notifications_pdim id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications_pdim ALTER COLUMN id SET DEFAULT nextval('public.notifications_id_seq_pdim'::regclass);


--
-- Name: planning_gdim id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.planning_gdim ALTER COLUMN id SET DEFAULT nextval('public.planning_gdim_id_seq'::regclass);


--
-- Name: planning_pdim id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.planning_pdim ALTER COLUMN id SET DEFAULT nextval('public.planning_id_seq_pdim'::regclass);


--
-- Name: production_statut_pdim id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.production_statut_pdim ALTER COLUMN id SET DEFAULT nextval('public.production_statut_pdim_id_seq'::regclass);


--
-- Name: recap_planning_pdim id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recap_planning_pdim ALTER COLUMN id SET DEFAULT nextval('public.recap_planning_id_seq_pdim'::regclass);


--
-- Name: statut_matiere_pdim id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.statut_matiere_pdim ALTER COLUMN id SET DEFAULT nextval('public.statut_matiere_id_seq_pdim'::regclass);


--
-- Name: statut_outils_gdim id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.statut_outils_gdim ALTER COLUMN id SET DEFAULT nextval('public.statut_outils_gdim_id_seq'::regclass);


--
-- Name: statut_outils_pdim id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.statut_outils_pdim ALTER COLUMN id SET DEFAULT nextval('public.outils_status_id_seq_pdim'::regclass);


--
-- Name: suivre_of_pdim id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.suivre_of_pdim ALTER COLUMN id SET DEFAULT nextval('public.suivre_of_pdim_id_seq1'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: pga_jobagent; Type: TABLE DATA; Schema: pgagent; Owner: postgres
--

COPY pgagent.pga_jobagent (jagpid, jaglogintime, jagstation) FROM stdin;
7552	2025-07-25 22:52:30.442044+01	Zeinab
\.


--
-- Data for Name: pga_jobclass; Type: TABLE DATA; Schema: pgagent; Owner: postgres
--

COPY pgagent.pga_jobclass (jclid, jclname) FROM stdin;
\.


--
-- Data for Name: pga_job; Type: TABLE DATA; Schema: pgagent; Owner: postgres
--

COPY pgagent.pga_job (jobid, jobjclid, jobname, jobdesc, jobhostagent, jobenabled, jobcreated, jobchanged, jobagentid, jobnextrun, joblastrun) FROM stdin;
\.


--
-- Data for Name: pga_schedule; Type: TABLE DATA; Schema: pgagent; Owner: postgres
--

COPY pgagent.pga_schedule (jscid, jscjobid, jscname, jscdesc, jscenabled, jscstart, jscend, jscminutes, jschours, jscweekdays, jscmonthdays, jscmonths) FROM stdin;
\.


--
-- Data for Name: pga_exception; Type: TABLE DATA; Schema: pgagent; Owner: postgres
--

COPY pgagent.pga_exception (jexid, jexscid, jexdate, jextime) FROM stdin;
\.


--
-- Data for Name: pga_joblog; Type: TABLE DATA; Schema: pgagent; Owner: postgres
--

COPY pgagent.pga_joblog (jlgid, jlgjobid, jlgstatus, jlgstart, jlgduration) FROM stdin;
\.


--
-- Data for Name: pga_jobstep; Type: TABLE DATA; Schema: pgagent; Owner: postgres
--

COPY pgagent.pga_jobstep (jstid, jstjobid, jstname, jstdesc, jstenabled, jstkind, jstcode, jstconnstr, jstdbname, jstonerror, jscnextrun) FROM stdin;
\.


--
-- Data for Name: pga_jobsteplog; Type: TABLE DATA; Schema: pgagent; Owner: postgres
--

COPY pgagent.pga_jobsteplog (jslid, jsljlgid, jsljstid, jslstatus, jslresult, jslstart, jslduration, jsloutput) FROM stdin;
\.


--
-- Data for Name: notifications_gdim; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.notifications_gdim (id, poste, n_ordre, tool_name, cause, details, date, type_probleme) FROM stdin;
\.


--
-- Data for Name: notifications_pdim; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.notifications_pdim (id, poste, n_ordre, tool_name, cause, details, date, type_probleme) FROM stdin;
\.


--
-- Data for Name: notifications_profilee; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.notifications_profilee (id, poste, n_ordre, tool_name, cause, details, date, type_probleme) FROM stdin;
\.


--
-- Data for Name: planning_gdim; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.planning_gdim (id, poste, filename, data, importdate, version) FROM stdin;
\.


--
-- Data for Name: planning_pdim; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.planning_pdim (id, poste, filename, data, importdate, version) FROM stdin;
\.


--
-- Data for Name: planning_profilee; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.planning_profilee (id, poste, filename, data, importdate, version) FROM stdin;
\.


--
-- Data for Name: production_statut_gdim; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.production_statut_gdim (id, poste, n_ordre, statut_of, date_validation, duree, ordre, cause, detaille, date_signalement) FROM stdin;
\.


--
-- Data for Name: production_statut_pdim; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.production_statut_pdim (id, poste, n_ordre, statut_of, date_validation, duree, ordre, cause, detaille, date_signalement) FROM stdin;
\.


--
-- Data for Name: production_statut_profilee; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.production_statut_profilee (id, poste, n_ordre, statut_of, date_validation, duree, ordre, cause, detaille, date_signalement) FROM stdin;
\.


--
-- Data for Name: recap_planning_gdim; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.recap_planning_gdim (id, week_number, production, ruptures, created_at) FROM stdin;
\.


--
-- Data for Name: recap_planning_pdim; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.recap_planning_pdim (id, week_number, production, ruptures, created_at) FROM stdin;
\.


--
-- Data for Name: recap_planning_profilee; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.recap_planning_profilee (id, week_number, production, ruptures, created_at) FROM stdin;
\.


--
-- Data for Name: statut_matiere_gdim; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.statut_matiere_gdim (id, poste, n_ordre, besoin_machine, statut, date_validation, ordre, cause, detaille, date_signalement) FROM stdin;
\.


--
-- Data for Name: statut_matiere_pdim; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.statut_matiere_pdim (id, poste, n_ordre, besoin_machine, statut, date_validation, ordre, cause, detaille, date_signalement) FROM stdin;
\.


--
-- Data for Name: statut_matiere_profilee; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.statut_matiere_profilee (id, poste, n_ordre, besoin_machine, statut, date_validation, ordre, cause, detaille, date_signalement) FROM stdin;
\.


--
-- Data for Name: statut_outils_gdim; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.statut_outils_gdim (id, poste, ordre, statut, n_ordre, date_validation, cause, detaille, date_signalement) FROM stdin;
\.


--
-- Data for Name: statut_outils_pdim; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.statut_outils_pdim (id, poste, ordre, statut, n_ordre, date_validation, cause, detaille, date_signalement) FROM stdin;
\.


--
-- Data for Name: statut_outils_profilee; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.statut_outils_profilee (id, poste, ordre, statut, n_ordre, date_validation, cause, detaille, date_signalement) FROM stdin;
\.


--
-- Data for Name: suivre_of_gdim; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.suivre_of_gdim (id, poste, filename, data, version, importdate) FROM stdin;
\.


--
-- Data for Name: suivre_of_pdim; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.suivre_of_pdim (id, poste, filename, data, version, importdate) FROM stdin;
\.


--
-- Data for Name: suivre_of_profilee; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.suivre_of_profilee (id, poste, filename, data, version, importdate) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, email, password, role) FROM stdin;
\.


--
-- Name: notifications_gdim_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.notifications_gdim_id_seq', 1, false);


--
-- Name: notifications_id_seq_pdim; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.notifications_id_seq_pdim', 1, false);


--
-- Name: notifications_profilee_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.notifications_profilee_id_seq', 10, true);


--
-- Name: outils_status_id_seq_pdim; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.outils_status_id_seq_pdim', 1, false);


--
-- Name: planning_gdim_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.planning_gdim_id_seq', 1, false);


--
-- Name: planning_id_seq_pdim; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.planning_id_seq_pdim', 1, false);


--
-- Name: planning_profilee_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.planning_profilee_id_seq', 3, true);


--
-- Name: production_statut_gdim_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.production_statut_gdim_id_seq', 9, true);


--
-- Name: production_statut_pdim_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.production_statut_pdim_id_seq', 1, false);


--
-- Name: production_statut_profilee_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.production_statut_profilee_id_seq', 9, true);


--
-- Name: recap_planning_id_seq_gdim; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.recap_planning_id_seq_gdim', 4, true);


--
-- Name: recap_planning_id_seq_pdim; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.recap_planning_id_seq_pdim', 1, false);


--
-- Name: recap_planning_id_seq_profilee; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.recap_planning_id_seq_profilee', 1, true);


--
-- Name: statut_matiere_id_seq_gdim; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.statut_matiere_id_seq_gdim', 14, true);


--
-- Name: statut_matiere_id_seq_pdim; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.statut_matiere_id_seq_pdim', 1, false);


--
-- Name: statut_matiere_id_seq_profilee; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.statut_matiere_id_seq_profilee', 19, true);


--
-- Name: statut_outils_gdim_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.statut_outils_gdim_id_seq', 1, false);


--
-- Name: statut_outils_profilee_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.statut_outils_profilee_id_seq', 14, true);


--
-- Name: suivre_of_gdim_id_seq1; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.suivre_of_gdim_id_seq1', 1, false);


--
-- Name: suivre_of_pdim_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.suivre_of_pdim_id_seq', 1, false);


--
-- Name: suivre_of_pdim_id_seq1; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.suivre_of_pdim_id_seq1', 1, false);


--
-- Name: suivre_of_profilee_id_seq1; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.suivre_of_profilee_id_seq1', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 1, false);


--
-- Name: notifications_gdim notifications_gdim_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications_gdim
    ADD CONSTRAINT notifications_gdim_pkey PRIMARY KEY (id);


--
-- Name: notifications_pdim notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications_pdim
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: notifications_profilee notifications_profilee_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications_profilee
    ADD CONSTRAINT notifications_profilee_pkey PRIMARY KEY (id);


--
-- Name: statut_outils_pdim outils_status_pdim_poste_n_ordre_ordre_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.statut_outils_pdim
    ADD CONSTRAINT outils_status_pdim_poste_n_ordre_ordre_key UNIQUE (poste, n_ordre, ordre);


--
-- Name: statut_outils_pdim outils_status_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.statut_outils_pdim
    ADD CONSTRAINT outils_status_pkey PRIMARY KEY (id);


--
-- Name: planning_gdim planning_gdim_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.planning_gdim
    ADD CONSTRAINT planning_gdim_pkey PRIMARY KEY (id);


--
-- Name: planning_gdim planning_gdim_poste_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.planning_gdim
    ADD CONSTRAINT planning_gdim_poste_key UNIQUE (poste);


--
-- Name: planning_pdim planning_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.planning_pdim
    ADD CONSTRAINT planning_pkey PRIMARY KEY (id);


--
-- Name: planning_pdim planning_poste_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.planning_pdim
    ADD CONSTRAINT planning_poste_key UNIQUE (poste);


--
-- Name: planning_profilee planning_profilee_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.planning_profilee
    ADD CONSTRAINT planning_profilee_pkey PRIMARY KEY (id);


--
-- Name: planning_profilee planning_profilee_poste_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.planning_profilee
    ADD CONSTRAINT planning_profilee_poste_key UNIQUE (poste);


--
-- Name: production_statut_gdim production_statut_gdim_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.production_statut_gdim
    ADD CONSTRAINT production_statut_gdim_pkey PRIMARY KEY (id);


--
-- Name: production_statut_gdim production_statut_gdim_poste_n_ordre_ordre_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.production_statut_gdim
    ADD CONSTRAINT production_statut_gdim_poste_n_ordre_ordre_key UNIQUE (poste, n_ordre, ordre);


--
-- Name: production_statut_pdim production_statut_pdim_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.production_statut_pdim
    ADD CONSTRAINT production_statut_pdim_pkey PRIMARY KEY (id);


--
-- Name: production_statut_pdim production_statut_pdim_poste_n_ordre_ordre_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.production_statut_pdim
    ADD CONSTRAINT production_statut_pdim_poste_n_ordre_ordre_key UNIQUE (poste, n_ordre, ordre);


--
-- Name: production_statut_profilee production_statut_profilee_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.production_statut_profilee
    ADD CONSTRAINT production_statut_profilee_pkey PRIMARY KEY (id);


--
-- Name: production_statut_profilee production_statut_profilee_poste_n_ordre_ordre_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.production_statut_profilee
    ADD CONSTRAINT production_statut_profilee_poste_n_ordre_ordre_key UNIQUE (poste, n_ordre, ordre);


--
-- Name: recap_planning_gdim recap_planning_gdim_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recap_planning_gdim
    ADD CONSTRAINT recap_planning_gdim_pkey PRIMARY KEY (id);


--
-- Name: recap_planning_gdim recap_planning_gdim_week_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recap_planning_gdim
    ADD CONSTRAINT recap_planning_gdim_week_number_key UNIQUE (week_number);


--
-- Name: recap_planning_pdim recap_planning_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recap_planning_pdim
    ADD CONSTRAINT recap_planning_pkey PRIMARY KEY (id);


--
-- Name: recap_planning_profilee recap_planning_profilee_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recap_planning_profilee
    ADD CONSTRAINT recap_planning_profilee_pkey PRIMARY KEY (id);


--
-- Name: recap_planning_profilee recap_planning_profilee_week_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recap_planning_profilee
    ADD CONSTRAINT recap_planning_profilee_week_number_key UNIQUE (week_number);


--
-- Name: recap_planning_pdim recap_planning_week_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recap_planning_pdim
    ADD CONSTRAINT recap_planning_week_number_key UNIQUE (week_number);


--
-- Name: statut_matiere_gdim statut_matiere_gdim_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.statut_matiere_gdim
    ADD CONSTRAINT statut_matiere_gdim_pkey PRIMARY KEY (id);


--
-- Name: statut_matiere_gdim statut_matiere_gdim_poste_n_ordre_ordre_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.statut_matiere_gdim
    ADD CONSTRAINT statut_matiere_gdim_poste_n_ordre_ordre_key UNIQUE (poste, n_ordre, ordre);


--
-- Name: statut_matiere_pdim statut_matiere_pdim_poste_n_ordre_ordre_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.statut_matiere_pdim
    ADD CONSTRAINT statut_matiere_pdim_poste_n_ordre_ordre_key UNIQUE (poste, n_ordre, ordre);


--
-- Name: statut_matiere_pdim statut_matiere_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.statut_matiere_pdim
    ADD CONSTRAINT statut_matiere_pkey PRIMARY KEY (id);


--
-- Name: statut_matiere_profilee statut_matiere_profilee_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.statut_matiere_profilee
    ADD CONSTRAINT statut_matiere_profilee_pkey PRIMARY KEY (id);


--
-- Name: statut_matiere_profilee statut_matiere_profilee_poste_n_ordre_ordre_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.statut_matiere_profilee
    ADD CONSTRAINT statut_matiere_profilee_poste_n_ordre_ordre_key UNIQUE (poste, n_ordre, ordre);


--
-- Name: statut_outils_gdim statut_outils_gdim_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.statut_outils_gdim
    ADD CONSTRAINT statut_outils_gdim_pkey PRIMARY KEY (id);


--
-- Name: statut_outils_gdim statut_outils_gdim_poste_n_ordre_ordre_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.statut_outils_gdim
    ADD CONSTRAINT statut_outils_gdim_poste_n_ordre_ordre_key UNIQUE (poste, n_ordre, ordre);


--
-- Name: statut_outils_profilee statut_outils_profilee_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.statut_outils_profilee
    ADD CONSTRAINT statut_outils_profilee_pkey PRIMARY KEY (id);


--
-- Name: statut_outils_profilee statut_outils_profilee_poste_n_ordre_ordre_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.statut_outils_profilee
    ADD CONSTRAINT statut_outils_profilee_poste_n_ordre_ordre_key UNIQUE (poste, n_ordre, ordre);


--
-- Name: statut_outils_pdim statut_outils_unique_poste_nordre_ordre; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.statut_outils_pdim
    ADD CONSTRAINT statut_outils_unique_poste_nordre_ordre UNIQUE (poste, n_ordre, ordre);


--
-- Name: suivre_of_gdim suivre_of_gdim_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.suivre_of_gdim
    ADD CONSTRAINT suivre_of_gdim_pkey PRIMARY KEY (id);


--
-- Name: suivre_of_gdim suivre_of_gdim_poste_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.suivre_of_gdim
    ADD CONSTRAINT suivre_of_gdim_poste_key UNIQUE (poste);


--
-- Name: suivre_of_pdim suivre_of_pdim_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.suivre_of_pdim
    ADD CONSTRAINT suivre_of_pdim_pkey PRIMARY KEY (id);


--
-- Name: suivre_of_pdim suivre_of_pdim_poste_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.suivre_of_pdim
    ADD CONSTRAINT suivre_of_pdim_poste_key UNIQUE (poste);


--
-- Name: suivre_of_profilee suivre_of_profilee_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.suivre_of_profilee
    ADD CONSTRAINT suivre_of_profilee_pkey PRIMARY KEY (id);


--
-- Name: suivre_of_profilee suivre_of_profilee_poste_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.suivre_of_profilee
    ADD CONSTRAINT suivre_of_profilee_poste_key UNIQUE (poste);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

